<div style="margin-top: 10px">
  <div ng-show="hasAlert" class="alert" ng-class="{'alert-success': alertSuccess, 'alert-danger': !alertSuccess}">{{alertMessage}}</div>

  <form role="form" class="bookmark-form">
    <div class="form-group">
      <label for="bmTitle">Title</label>
      <input ng-model="bmTitle" type="text" class="form-control" id="bmTitle" placeholder="Enter a title">
    </div>

    <div class="form-group">
      <label for="bmDateStr">Date</label>
      <input ng-model="bmDateStr" type="date" class="form-control" id="bmDateStr" placeholder="Enter a date">
    </div>

    <div class="form-group">
      <label for="bmUrl">Link URL</label>
      <input ng-model="bmUrl" type="text" class="form-control" id="bmUrl" placeholder="Enter a URL">
    </div>

    <div class="form-group">
      <label for="bmLocation">Location</label>
      <input ng-model="bmLocation" type="text" class="form-control" id="bmLocation" placeholder="Enter a location">
    </div>

    <div class="form-group">
      <label for="bmIssues">Issues</label>
      <input ng-model="bmIssues" type="text" class="form-control" id="bmIssues" placeholder="Enter a comma separated list of issues">
    </div>

    <div class="form-group">
      <label for="bmDescription">Description</label>
      <textarea ng-model="bmDescription" class="form-control" id="bmDescription" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-default" ng-click="createBookmark()">Create Bookmark</button>
  </form>
</div>