<div style="margin-top: 10px">
  <div ng-show="{{notification}}">
    <div ng-show="{{notification.status == 'success'}}" class="alert alert-success">{{notification}}</div>
    <div ng-show="{{notification.status == 'error'}}" class="alert alert-danger">{{notification}}</div>
  </div>
  <form role="form">

    <div class="form-group">
      <label for="bookmarkTitle">Title</label>
      <input ng-model="bookmarkTitle" type="text" class="form-control" id="bookmarkTitle" placeholder="Enter a title">
    </div>

    <div class="form-horizontal">
      <label for="bookmarkDate">Date</label>
      <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="bookmarkDate" is-open="opened" date-disabled="disabled(date, mode)" datepicker-options="dateOptions" show-weeks="false" ng-required="true" style="border-radius: 4px; box-shadow: none; border-width: 1px; border-color: #ddd;"/>
      <button class="btn" ng-click="open()"><span class="glyphicon glyphicon-calendar"></span></button>
    </div>

    <div class="form-group">
      <label for="bookmarkLocation">Location</label>
      <input ng-model="bookmarkLocation" type="text" class="form-control" id="bookmarkLocation" placeholder="Enter a location">
    </div>

    <div class="form-group">
      <label for="bookmarkDescription">Description</label>
      <textarea ng-model="bookmarkDescription" class="form-control" id="bookmarkDescription" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-default" ng-click="createEvent">Submit</button>
  </form>
</div>