<div ng-show="hasAlert" class="alert" ng-class="{'alert-success': alertSuccess, 'alert-danger': !alertSuccess}">{{alertMessage}}</div>

<div>
  <h4>Bookmarks</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date Happened</th>
        <th>Location</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bookmark in bookmarks">
        <td>{{bookmark.title}}</td>
        <td>{{bookmark.date_happened}}</td>
        <td>{{bookmark.location}}</td>
        <td>{{bookmark.description}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#/bookmarks/update/{{bookmark.id}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
              <li ng-click="deleteBookmark(bookmark)"><a href=""><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
