<div class="row" style="margin-right: 20px; margin-top:">
  <div class="col-lg-8">
    <div class="panel panel-primary">
      <div class="panel-heading">Followed Issues</div>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="issue in followedIssues" ng-click="linkToEditForm(issue.title)">
            <td>{{issue.title}}</td>
            <td>{{issue.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Recommended Issues</div>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="issue in recommendedIssues" ng-click="linkToEditForm(issue.title)">
            <td>{{issue.title}}</td>
            <td>{{issue.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>