.table {
  background-color: #eee;
  color: #333;
  border-radius: 5px;
}

.table tr {
  cursor: pointer;
}

.table tr:hover {
  background-color: #888;
  color: #eee;
  border-radius: 5px;
}

label {
  color: #eee;
}