.landing-container {
	background-color: #333;
	box-shadow: 0 0 20px 3px #444;
}

.landing-container .main-row {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 0;
}

.landing-container .main-row .jumbotron {
	margin-bottom: 20px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	height: 275px;
}

.landing-container .kuansim-banner-container {
	background-color: #eee;
	border-radius: 10px;
	margin-top: 0;
	margin-right: 20px;
	margin-left: 20px;
}

.landing-container .features-row {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
}

.landing-container .features-row .jumbotron {
	height: 275px;
}

.landing-container .kuansim-banner-bg {
	background-image: url('../img/background.png');
	background-size: 100%;
	height: 275px;
	max-width: 100%;
	background-repeat: no-repeat;
	padding-top: 40px;
	padding-left: 120px;
	z-index: 1;
}

.landing-container div[class^="kuansim-banner-icon-"] {
	background-size: 350px;
	height: 175px;
	width: 175px;
	background-repeat: no-repeat;
	float: left;
	z-index: 100;
	margin-left: 12px;
	margin-top: 0px;
}

.landing-container .kuansim-banner-icon-select {
	background-image: url('../img/select_spritesheet.png');
	background-position: 0 0;
	margin-left: 0 !important;
}
.landing-container .kuansim-banner-icon-select:hover {
	background-position: -175px 0;
}

.landing-container .kuansim-banner-icon-arrange {
	background-image: url('../img/arrange_spritesheet.png');
	background-position: 0 0;
}
.landing-container .kuansim-banner-icon-arrange:hover {
	background-position: -175px 0;
}

.landing-container .kuansim-banner-icon-petition {
	background-image: url('../img/petition_spritesheet.png');
	background-position: 0 0;
}
.landing-container .kuansim-banner-icon-petition:hover {
	background-position: -175px 0;
}

.landing-container .kuansim-banner-icon-action {
	background-image: url('../img/action_spritesheet.png');
	background-position: 0 0;
}
.landing-container .kuansim-banner-icon-action:hover {
	background-position: -175px 0;
}

.landing-container .kuansim-banner-icon-review {
	background-image: url('../img/review_spritesheet.png');
	background-position: 0 0;
}
.landing-container .kuansim-banner-icon-review:hover {
	background-position: -175px 0;
}