<div>
  <h4>Issues</h4>
  <table class="table issues-tbl">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="issue in issues" ng-click="linkToEditForm(issue.title)">
        <td>{{issue.title}}</td>
        <td>{{issue.description}}</td>
        <td><span class="glyphicon glyphicon-chevron-right"></span></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-default" ng-click="linkToEditForm()">Add Issue</button>
</div>