<div>
  <h4>Issues</h4>
  <table class="table issues-tbl">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="issue in issues">
        <td>{{issue.title}}</td>
        <td>{{issue.description}}</td>
        <td>
          <a href="" ng-click="followIssue(issue)">
            <span ng-hide="issue.isFollowed">
              <span class="glyphicon glyphicon-eye-open"></span> Follow
            </span>
          </a>
          <span ng-show="issue.isFollowed">
            <span class="glyphicon glyphicon-check"></span> Followed
          </span>
        </td>
        <td>
          <a href="" ng-click="linkToEditForm(issue.id)">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-default" ng-click="linkToEditForm()">Add Issue</button>
</div>