<div>
  <h4 class="issues-header">Issues</h4>
  <table class="table issues-tbl">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="issue in issues">
        <td ng-click="linkToEditForm(issue.title)">{{issue.title}}</td>
        <td ng-click="linkToEditForm(issue.title)">{{issue.description}}</td>
        <td>
          <a href="" ng-click="followIssue(issue)">
            <div class="btn btn-default" ng-hide="issue.isFollowed">
              <span>
                <span class="glyphicon glyphicon-eye-open"></span> Follow
              </span>
            </div>
          </a>
          <a href="" ng-click="unfollowIssue(issue)" ng-init="hovered = false">
            <span ng-show="issue.isFollowed" ng-mouseover="hovered = true" ng-mouseleave="hovered = false">
              <div class="btn btn-default" ng-hide="hovered">
                <span><span class="glyphicon glyphicon-check"></span> Followed</span>
              </div>
              <div class="btn btn-default" ng-show="hovered">
                <span><span class="glyphicon glyphicon-remove"></span> Unfollow</span>
              </div>
            </span>
          </a>
        </td>
        <td>
          <a href="" ng-click="linkToEditForm(issue.title)">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-default" ng-click="linkToEditForm()">Add Issue</button>
</div>