div.digest_box
  div.row
    p {{content.body}}
  div.row
    div.col-md-4
      span.glyphicon.glyphicon-user {{content.authorName}}
    div.col-md-8
      p.text-center 發佈時間： {{content.publishTime}}