div.issue_box
  div.row
    div.col-md-4
      p.text-center
        span.glyphicon.glyphicon-eye-open 關心
    div.col-md-8
      p.text-center {{content.kaunsimNumber}}
  div.row
    div.col-md-4
      p.text-center
        span.glyphicon.glyphicon-eye-open 行動
    div.col-md-8
      p.text-center {{content.actionNumber}}
  div.row
    div.col-md-4
      p.text-center
        span.glyphicon.glyphicon-eye-open 立場
    div.col-md-8
      p.text-center {{content.standpointsNumber}}