ul.nav.navbar-nav
  li(ng-class="getClass('/issue')")
    a(ng-href='#/issue') 議題
  li(ng-class="getClass('/act')")
    a(ng-href='#/act') 串連
ul.nav.navbar-nav.navbar-right
  li(ng-class="getClass('/about')")
    a(ng-href='#/about') 關於
  li(ng-class="getClass('/login')")
    a(href='#/login') 登入
