img.img-responsive(src="http://fakeimg.pl/1280x300/?text=banner size still not sure")

h3 熱門議題
div.row
  div.col-md-4
    div(ng-include="'/partials/app/tagUnit.html'")
  div.col-md-4
    div(ng-include="'/partials/app/tagUnit.html'")
  div.col-md-4
    div(ng-include="'/partials/app/tagUnit.html'")
h3 最新懶人包
div.row
  div.col-md-4
    div(ng-include="'/partials/app/tagUnit.html'")
  div.col-md-4
    div(ng-include="'/partials/app/tagUnit.html'")
  div.col-md-4
    div(ng-include="'/partials/app/tagUnit.html'")
h3 正在串連
div.row
  div.col-md-4
    div(ng-include="'/partials/app/tagUnit.html'")
  div.col-md-4
    div(ng-include="'/partials/app/tagUnit.html'")
  div.col-md-4
    div(ng-include="'/partials/app/tagUnit.html'")
h3 正在醞釀
div.row
  div.col-md-4
    div(ng-include="'/partials/app/tagUnit.html'")
  div.col-md-4
    div(ng-include="'/partials/app/tagUnit.html'")
  div.col-md-4
    div(ng-include="'/partials/app/tagUnit.html'")
