div.panel.panel-success.tagWrapper
  div.tagHeader.panel-heading
    a.tagName(href='#')
      span.glyphicon.glyphicon-tag
      | topic
  div.panel-body
    div.contentWrapper
      p
        | test
      p
        | test2
  div.panel-footer
    div.text-right
      ul.list-inline
        li
          i.icon-facebook-sign
        li
          i.icon-twitter-sign
        li
          i.icon-google-plus-sign
        li
          i.icon-heart
