div.panel.panel-success.tagWrapper
      div.tagHeader.panel-heading
        a.tagName(href='#')
          span.glyphicon.glyphicon-tag
          | topic
      div.panel-body
        div.contentWrapper
          p
            | test
          p
            | test2
      div.panel-footer
        div.text-right
          span.glyphicon.glyphicon-cloud
          span.glyphicon.glyphicon-cloud
          span.glyphicon.glyphicon-cloud
          span.glyphicon.glyphicon-cloud
